@using HR_Project.Application.Models.DTOs;
@model CreateExpenseDTO


<div class="content-wrapper">
    <div class="row" style="height: 50px;">
    </div>

    <div class="row">
        
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center">Request Expense</h4>
                    <form class="form-sample" asp-action="CreateExpenseRequest" method="post" enctype="multipart/form-data">
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" asp-for="Amount">Amount</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" asp-for="Amount" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" asp-for="CurrencyCode">Currency Code</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" asp-for="CurrencyCode">
                                            <option value="">Select Currency</option>
                                            @foreach (var currency in Model.CurrencyCodeOptions)
                                            {
                                                <option value="@currency.Code">@currency.Code</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" asp-for="ExpenseTypeID">Expense Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" asp-for="ExpenseTypeID">
                                            <option value="">Select Expense Type</option>
                                            @foreach (var expenseType in Model.ExpenseTypes)
                                            {
                                                <option value="@expenseType.ID">@expenseType.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" asp-for="DocumentPath">Document</label>
                                    <div class="col-sm-9">
                                        <input asp-for="DocumentPath" type="file" class="form-control" name="documentFile" accept=".png, .pdf, .jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" style="width:200px;height:30px">Create</button>
                        </div>
                        <br />
                        <div>
                            <a class="btn btn-success ml-auto " href="/Home/Index"> Go Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	}